# dependencies
./Dp-202-shop/server/node_modules/
./Dp-202-shop/server/dist/
./Dp-202-shop/node_modules/


#cache
.eslintcache

# production
./Dp-202-shop/server/.env

.idea/
*.iml
*.xml

# testing
/coverage

npm-debug.log*